{$DOMAINS} {
    proxy /resume {$RESUME_HOST}.{$DNS_SEARCH}:{$RESUME_PORT} {
        transparent
        without /resume
    }
    proxy /blog {$BLOG_HOST}.{$DNS_SEARCH}:{$BLOG_PORT} {
        transparent
        without /blog
    }

    redir /resume /resume/
    redir /blog /blog/
}
