{$DOMAINS} {
    proxy /resume {$RESUME_HOST}.{$DNS_SEARCH}:{$RESUME_PORT} {
        transparent
        without /resume
    }
    proxy / {$BLOG_HOST}.{$DNS_SEARCH}:{$BLOG_PORT} {
        transparent
    }

    redir /resume /resume/
    redir /blog /

    tls {$TLS_EMAIL}
}
